<template>
  <modal @close="$emit('close', true)">
    <div class="auth">
      <component :is="copmponent" v-model="copmponent" />
    </div>
  </modal>
</template>
<script>
export default {
  data: () => ({
    copmponent: 'login',
  }),
  created() {
    this.copmponent = this.typeDefault
  },
  props: {
    typeDefault: {
      default: 'login',
    },
  },
}
</script>
