<template>
  <div>
    <div v-if="profile">
      <nav-menu :profile="profile" />
    </div>
    <div v-else>
      <button @click="loginIsOpen = true" class="button button-account">
          <span class="icon-user"></span> 
      </button>
    </div>
    <auth v-if="loginIsOpen && !profile" @close="loginIsOpen = false" />
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    loginIsOpen: false,
  }),
  computed: {
    ...mapState(['profile']),
  },
}
</script>
