<template>
  <div>
    <n-link class="logo" :to="'/'"> 
          <img src="~/assets/images/logo.png" alt="EZZY.UZ" title="EZZY.UZ" />
    </n-link>
  </div>
</template>
<script>
export default {}
</script>
