<template>
  <div class="nav_menu">

       <drop-down class="nav_menu-pc" :title="profile.phone" :alignTo="`to_left`">
      <ul>
        <li v-for="(nav, key) in navigations" :key="key">
          <n-link :to="nav.path">{{ nav.title }}</n-link>
        </li>
      </ul>
      <ul>
        <li>
          <button @click="logoutUser" class="button button-logout">
            Выйти
          </button>
        </li>
      </ul>
    </drop-down>

    <drop-down class="nav_menu-mobi"  :icon="`user`" :sizeIcon="30" :borderDisable="true" :paddingRemove="true" :alignTo="`to_left`">
      <ul>
        <li v-for="(nav, key) in navigations" :key="key">
          <n-link :to="nav.path">{{ nav.title }}</n-link>
        </li>
      </ul>
      <ul>
        <li>
          <button @click="logoutUser" class="button button-logout">
            Выйти
          </button>
        </li>
      </ul>
    </drop-down>
  </div>
</template>
<script>
import { logoutUser } from '~/_api/apiClientAuth'
export default {
  data: () => ({
    navigations: [
      {
        path: '/account',
        title: 'Мои QR меню',
      },
      {
        path: '/account/settings',
        title: 'Настройки',
      },
    ],
  }),
  methods: {
    logoutUser: logoutUser,
  },
  props: {
    profile: {
      default: null,
    },
  },
  created() {
    if(this.profile.is_root === true){
      this.navigations.push(
          {
        path: '/business',
        title: 'Бизнесы',
      },
      );
    }
  },
}
</script>

