<template>
  <div>

   <div v-if="item && lang">

    <ul v-if="languages.length>1" class="language" >
        <li v-for="(lang,key) in languages" :key="key">
              <n-link :to="`/client/menu/${params.id}?language=${lang.language}`"> {{localizations[lang.language]}}</n-link>
        </li>
    </ul>

    <menu-font v-if="item" :item="item" />
    <div
      v-if="item"
      class="production"
      :style="{
        backgroundColor: item.style ? item.style.background_color : '',
        textAlign: item.style ? item.style.text_alignment : '',
        color: item.style ? item.style.text_color : '',
        fontFamily: item.style ? item.style.text_font : '',
      }"
    >
      <production-header :item="item" />

      <template v-for="(category, key) in item.categories">
        <div v-if="category.products.length" :key="key">
          <h2 class="production-category">{{ category.title }}</h2>
          <ul v-if="category.products.length">
            <li v-for="(product, key) in category.products" :key="key">
              <production-product
                :isAdmin="true"
                :item="product"
                :text_alignment="item.style.text_alignment"
              />
            </li>
          </ul>
        </div>
      </template>
    </div>
  </div>

  <div  v-else  class="language-preview">

      <h2>Выберите язык</h2>
      <ul>
        <li v-for="(lang,key) in languages" :key="key">
              <n-link :to="`/client/menu/${params.id}?language=${lang.language}`"> {{localizations[lang.language]}}</n-link>
        </li>
    </ul>
  </div>

 

  </div>
</template>
<script>
import {mapState} from 'vuex'
import apiMenuClient from '~/_api/apiMenuClient'
import apiMenuClientPreview from '~/_api/apiMenuClientPreview'
import { apiMenuClientAnalytic } from '~/_api/apiMenuClientAnalytic'
export default {
  layout: 'client',
  async asyncData({ params, $axios, redirect, query, app }) {

     let languages = await apiMenuClientPreview($axios, params, redirect);

       let lang = (query.language) ? query.language : null;

      if (languages.length===1){
          lang = languages[0].language;
      }

    let item = null;

  
    if (lang){
            app.$cookiz.set('lang',lang, {
                  maxAge: 60 * 60 * 24 * 365,
                  path: "/",
              });
              $axios.setHeader('localization',lang);
           item= await apiMenuClient($axios, params, redirect);
      }

    return {
      item,
      languages,
      params,
      lang
    }
  },
  methods: {
    apiMenuClientAnalytic: apiMenuClientAnalytic,
    analytic(){
      if (this.item){
        this.apiMenuClientAnalytic({
        device_id: this.$cookiz.get('device_id'),
        menu_id: this.item.id,
        is_mobile: this.$device.isMobile,
    });
    }
    }
  },
  computed:{
      ...mapState(['localizations'])
  },
  watchQuery:['language'],
  watch:{
    lang(val){
       if(val){
          this.analytic();
       }
    }
  },
  mounted() {
    this.analytic();
  },
}
</script>