<template>
  <div class="page">
    <menu-list :menus="menus" />
  </div>
</template>
<script>
import apiMenu from '~/_api/apiMenu'
export default {
  async asyncData({ query, $axios }) {
    return {
      menus: await apiMenu($axios, query),
    }
  },
  middleware: 'account',
}
</script>
