button {
   border: none;
   outline: none;
   background: transparent;
}

.button {
   height: 35px;
 
   display: inline-block;
   border-radius: $borderRadiusMedium;
   padding: 0 20px;
   opacity: 1;
   position: relative;
   &:disabled {
      opacity: 0.3!important;
   }
 
   &-enter {
      color: $whiteColor;
      background-color: $blackColor;
      height: 46px;
   }
   &-access {
      height: 46px;
      background-color: $linkColor;
      color: $whiteColor;
      width: 100%;
   }
   &-account {
      height: 46px;
      font-size: 30px;
      background-color: $whiteColor;
      color: $blackColor;
      width: 100%;
      padding: 0;
   }
   &-save {
      height: 46px;
      background-color: $linkColor;
      color: $whiteColor;
      width: auto;
      &.margin {
         margin: 20px 0 0;
      }
   }
   &-add {
      height: 46px;
      background-color: $linkColor;
      color: $whiteColor;
      min-width: 160px;
      width: auto;
   }
   &-create {
      height: 46px;
      background-color: $whiteColor;
      color: $blackColor;
      border: 1px solid $blackColor;
      width: auto;
     
   }
   &-logout {
      text-align: left;
      height: 22px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      color: $blackColor;
      width: 100%;
   }
}
