header {
   background-color: $whiteColor;
   z-index: 9999;
   display: inline;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   width: 100%;
   @include shadow(17px);
   
   & ul.navigation {
      @include ul-horizontal;
      height: 75px;
      // @media (max-width: 1023px) {
      //   height: 50px;
      //  }
      align-items: center;
      // justify-content: center;
      & > li {
         &:first-child {
            margin-right: 10rem;
        }
         &:last-child {
            margin-left: auto;
            margin-right: 0;
         }


         &.navigation-links {
            @media (max-width: 1023px) {
               display: none;
            }

      }
     
   }


}
}

main {
   margin-top: 70px;
   // @media (max-width: 1023px) {
   //    margin-top: 50px;
   //  }
}
