header {
   background-color: $whiteColor;
   z-index: $hightZindex;
   display: inline;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   width: 100%;
   @include shadow(17px);
   & ul.navigation {
      @include ul-horizontal;
      height: 110px;
      align-items: center;
      // justify-content: center;
      & .logo {
         color: $blackColor;
         font-size: 18px;
      }
      & > li {
       
         &:last-child {
            margin-left: auto;
            margin-right: 0;
         }
      }
   }
}

main {
   margin-top: 110px;
   min-height: 60vh;
}
