.input {
   &-prefix {
      display: flex;
      align-items: center;
      & > div {
    
         margin-right: 15px;
         font-weight: 100;
         height: 46px;
         line-height: 46px;
         font-size: 18px;
         margin-bottom: 20px;
         background: $silverColor;
         color:$grayColor;
         border-radius: 10px;
         padding: 0 15px 0 10px;
      }
   }

   &-image {
      width: 100%;
      height: 100%;
      max-width: 80px;
      max-height: 80px;
      & > img {
         object-fit: contain;
         width: 100%;
         height: 100%;
         border-radius: $borderRadiusSmall;
         border: 1px solid $silverColor;
      }
   }
   &.textarea,
   &[type="text"],
   &[type="password"],
   &[type="number"],
   &[type="email"],
   &[type="phone"],
   &[type="color"],
   &[type="date"],
   &[type="tel"] {
      font-weight: 500;
      padding: 11px 10px 11px 10px;
      font-size: 1.1em;
      border-radius: $borderRadiusSmall;
      height: 46px;
      background: #ebebeb;
      color: #222;
      width: 100%;
      border: none;
      -webkit-appearance: none;
      &:disabled {
         opacity: 0.5;
         cursor: not-allowed;
      }
      &:read-only {
         opacity: 0.5 !important;
         cursor: not-allowed;
      }
   }

   &.textarea {
      padding: 10px 10px;
      height: 110px;
      max-height: 110px;
      min-height: 110px;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      line-height: 20px;
   }
}

.input-group {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
  
   & > label, .img_upload {
      color: $grayColor;
      display: block;
      margin: 0 10px 0 0;
      @include line;
   }
   & > .img_upload { 
      position: relative;
      background: $whiteColor;
      & > img {
         width: 90%;
         height: 90%;
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   & > input,
   select {
      border-radius: $borderRadiusSmall;
      width: 100%;
      display: block;
   }
}

.border {
   border: 1px solid $silverColor;
   border-radius: $borderRadiusSmall;
}
