@mixin ul {
   padding: 0;
   margin: 0;
   list-style: none;
   list-style-type: none;
   & > li {
      list-style: none;
   }
}

@mixin ul-horizontal {
   @include ul;
   display: flex;
   & > li {
      margin-right: 25px;
   }
}
@mixin line {
   max-width: 100%;
   white-space: nowrap;
}

@mixin shadow($pix) {
   -webkit-box-shadow: 0px 0px $pix 5px rgba(0, 0, 0, 0.12);
   -moz-box-shadow: 0px 0px $pix 5px rgba(0, 0, 0, 0.12);
   box-shadow: 0px 0px $pix 5px rgba(0, 0, 0, 0.12);
}

@mixin overlay {
   z-index: 88;
   background-color: rgba($color: #000000, $alpha: 0.2);
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   height: 100vh;
   width: 100%;
}

@mixin h1 {
   font-size: 3.5em;
   margin: 0 0 20px;
   line-height: 1.1em;
   font-weight: 500;
}

@mixin p {
   font-size: 16px;
   margin: 0;
   line-height: 1.5em;
   max-width: 400px;
}
@mixin minMaxWH($w, $h) {
   min-width: $w;
   min-height: $h;
   max-width: $w;
   max-height: $h;
}

@mixin menu($left, $right) {
   @include shadow(17px);
   z-index: 99999;
   position: fixed;
   width: 450px;
   max-width: 90%;
   top: 0;
   margin: 0;
   height: 100%;
   padding-bottom: 60px;
   background-color: $whiteColor;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   overflow-x: hidden;
   overflow-y: scroll;
   will-change: transform;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   left: $left;
   right: $right;
  
   & > &-header {
      width: 100%;
      height: 70px;
      background: $whiteColor;
      position: sticky;
      z-index: $hightZindex;
      top:0;
      left: 0;
      display: flex;
      align-items: center;
      padding: 0 20px;
      & > button {
         font-size: 25px;
         text-align: left;
         padding: 0;
      }
   }
   &-body {
      padding: 10px 20px 60px;
   }
}
