.modal {
   z-index: 999999999999;
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   margin: 0;
   height: 100%;
   padding: 5rem 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   overflow-y: auto;
   will-change: transform;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   text-align: center;
   background-color: transparent;
   background-color: rgba($color: #000000, $alpha: 0.2);
   & > div {
      padding: 15px 30px;
      max-width: 90%;
      margin: auto;
      @include shadow(17px);
      border-radius: $borderRadiusMedium;
      background: $whiteColor;
      position: relative;
      & > .modal-header {
         min-height: 50px;
         position: sticky;
         top: 0;
         z-index: $hightZindex;
         background-color: transparent;
         width: 100%;
         & > .nav_close {
            color:$blackColor;
            font-size: 24px;
            position: absolute;
            right: -7px;
            top: -4px;
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 50px;
            padding: 0;
            margin: 0;
            background: $whiteColor;
         }
      }
      & > .modal-body {
         position: relative;
         min-height: 25vh;
         h4 {
            color:$blackColor;
            // word-break: break-all;
            // word-wrap: break-word;
         }
      }
      & > .modal-footer {
         min-height: 15px;
      }
   }
}
