ul.questions {
   @include ul-horizontal;
   width: 100%;
   
   & > li {
      margin-right: 15px;
      border:none;
      display: flex;
      justify-content: center;
      align-items: center;
      & > span {
            cursor: help;
            & > span {
               font-size: 20px;
               color:$redColor;
            }
      }
   }
}
