.section {
   &_info {
      min-height: 400px;
      padding: 30px 0;
      display: flex;
      align-items: center;

      z-index: 1;
   }
   &_img {
      overflow: hidden;
      z-index: 0;
      max-height: 490px;
      height: 0;
      padding-top: 100%;
      text-align: center;
      position: relative;
      // background: red;
      & > img.section_img_single {
         position: absolute;
         left: 50%;
         -webkit-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         transform: translateX(-50%);
         top: 55px;
         @media (max-width: 768px) {
            top: 0;
         }
         max-width: 450px;
         width: 90%;
      }

      & > img.section_img_multipe {
         position: absolute;
 
         &.one {
            width: 50%;
            left: 0;
            top: -10rem;
         }
         &.two {
            width: 50%;
            right: 0;
            bottom: -10rem;
         }
      }
   }

   width: 100%;
   & > &_start {
      // min-height: 490px;

      background: $lightColor;
      overflow: hidden;
      &.section_join {
         border-top: 1px solid $whiteColor;
         background: $lightSecondColor;
         & h1 {
            max-width: 600px;
         }
      }
      & h1 {
         @include h1;
         max-width: 360px;
         font-size: 3.8em;
      }
      & p {
         @include p;
         margin-bottom: 30px;
      }
   }
   & > &_benefit {
      & h1 {
         @include h1;
         font-size: 3em;
         margin-top: 30px;
      }
      padding: 30px 0;
      & .section_benefit-list {
         display: flex;
         align-items: center;
         margin: 25px 0;
         & > div {
            &:first-child {
               background: $silverColor;
               border-radius: 100%;
               @include minMaxWH(68px, 68px);
               margin-right: 30px;
               display: flex;
               justify-content: center;
               align-items: center;
               & > span {
                  font-size: 40px;
                  color:#222;
               }
               &:hover {
                  & > span {
                     color:$linkColor;
                  }
               }
            }
         }
      }
   }
   & > &_how_work {
      & h1 {
         @include h1;
         font-size: 3em;
         margin-top: 30px;
         margin-bottom: 50px;
      }
      position: relative;
      padding: 30px 0;

      & .section_how_work-info_background {
         background: $lightColor;
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;

         height: 60%;
         z-index: -1;
         min-height: 300px;
         max-height: 460px;
      }
      & .section_how_work-info {
         z-index: 1;
         & .section_how_work-info_container {
            overflow: visible;
            width: 100%;
            max-width: 1024px;
            margin: auto;
            // background: red;
            & > ul {
               @include ul-horizontal;
               margin: auto;
               overflow-x: scroll;
               overflow-y: hidden;

               & > li {
                  // background: green;
                  margin: 5px;
                  width: 33%;
                  min-width: 200px;
                  min-height: 400px;
                  height: 0;
                  padding-top: 50%;
                  position: relative;
                  & > div {
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     width: 100%;
                     text-align: center;
                     & > img {
                        height: 80%;
                     }
                     & > div {
                        display: flex;
                        margin-top: 20px;
                        padding: 0 10px;
                        & > span {
                           text-align: left;
                           font-size: 14px;
                           height: 20%;
                           font-weight: 300;
                           display: block;
                           margin-right: 20px;
                           &:last-child {
                              margin: 0 0 0 auto;
                              transform: rotate(-180deg);
                              font-size: 23px;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
