.stat {
   height: 50px;
   background: $silverColor;
   @include ul-horizontal;
   overflow-x: scroll;
   & > li {
      border-right: 1px solid $whiteColor;

      margin-right: 0;
      display: flex;
      max-width: 100%;
      align-items: center;
      & > span {
         padding-top: 5px;
         display: block;
         &:first-child {
            font-weight: bold;
            font-size: 14px;
         }
         &:last-child {
            font-weight: 200;
            font-size: 16px;
            margin-left: 10px;
         }
      }
      padding: 10px 20px;
      &:last-child {
         border-right: none;
      }
   }
}