h1 {
   font-size: 2.5em;
   line-height: 1.4em;
   margin: 20px 0;
}
h2 {
   font-size: 2em;
   line-height: 1.3em;
   margin: 20px 0;
}
h3 {
   font-size: 1.8em;
   line-height: 1.3em;
   margin: 20px 0;
}
h4 {
   font-size: 1.6em;
   line-height: 1.2em;
   margin: 20px 0;
}
h5 {
   font-size: 1.4em;
   line-height: 1.1em;
   margin: 20px 0;
}
h6 {
   font-size: 1.2em;
   margin: 15px 0;
}
p {
   font-size: 1em;
   line-height: 1em;
   margin: 15px 0;
}
label {
   display: block;
   font-size: 1em;
   margin: 0 0 10px;
}

a,
button {
   font-size: 1em;
}

.text {
   &-right {
      text-align: right;
   }
   &-center {
      text-align: center;
   }
}
