// COLORS
$blackColor: #000;
$blackTwoColor: #222;
$grayColor: #666;
$whiteColor: #fff;
$silverColor: #ebebeb;
$redColor: #e53935;
$linkColor: #3468EF;
$lightColor: #f8f8f8;
$lightSecondColor: #f8f8f8;

//BORDER RADIUS
$borderRadiusMedium: 21px;
$borderRadiusLarge: 30px;
$borderRadiusSmall: 7px;

//Z-INDEX
$hightZindex: 999;
