@import "var";
@import "mixins";
@import "button";
@import "header";
@import "footer";
@import "input";
@import "field";
@import "modal";
@import "page";
@import "card";
@import "link";
@import "stat";
@import "text";
@import "questions";
@import "section";
@import "grid/grid";

@import "components/_vertical_links";
@import "components/business";
@import "components/horizontal_links";
@import "components/toastr";
@import "components/languages";
@import "components/language";
@import "components/production";
@import "components/not_found";
@import "components/dropdown";
@import "components/subscribe";
@import "components/products";
@import "components/auth";
@import "components/navigations";
@import "components/socials";
@import "components/nav_menu";
@import "components/side_menu";
@import "components/categories";
@import "components/img_upload";
@import "components/menu_card";
@import "components/logo";
@import "components/menu_list";
@import "components/analytic";

body {
   @media (min-width: 800px) {
      font-size: 15px;
      line-height: 18px;
   }
   @media (max-width: 800px) {
      font-size: 13px;
      line-height: 17px;
   }
   @media (max-width: 400px) {
      font-size: 12px;
      line-height: 15px;
   }
}
