<template>
  <div class="container">
       
    <div class="row">
      <div class="col-12 col-md-5 col-lg-3">
        <menu-card-name :item="item" :update="update" />
      </div>

      <div class="col-12 col-md-7 col-lg-9">
        <languages  :lang="lang"   :item="item"  :locales="item.languages"/>
        <categories  :lang="lang"  :item="item" v-model="category"  @position="position" />
        <products  :lang="lang"  :item="item" :category="category" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    category: null,
  }),
  props: {
    item: {
      default: function () {
        return null
      },
    },
    lang: {
      default: function () {
        return null
      },
    },
    update: {
      default: function () {},
    },
  },
  mounted() {
 
  },
  methods: {
    position(val){
      this.$emit('position',val);
    }
  },
}
</script>


