
<template>
  <div>
    <div class="card">
         <h5>Логотип меню</h5>
      <input-group>
        <img-upload
          :style="{backgroundColor: item.style ? item.style.background_color : '#fff'}"
          :width="`100px`"
          :height="`100px`"
          v-model="item.logo"
          :maxWidth="400"
          :isIcon="true"
          @input="update('update', item, 'put')"
        />

      </input-group>
      </div>
      <div class="card">

      <h5>Название меню</h5>
      <input-group>
        <input
          type="text"
          class="input"
          v-model="item.name"
          placeholder="Название меню"
        />
      </input-group>
      <!-- <input-group>
        <input
          type="text"
          class="input"
          v-model="item.brand"
          placeholder="Бренд меню"
        />
      </input-group> -->

  

          <ul class="questions"  >
      <li>
      <button
        @click="update('update', item, 'put')"
        class="button button-save "
      >
        Сохранить
      </button>


      </li>

      <li>
       <span v-tooltip="'Нажмите сохранить, меню всегда доступно для редактирования в вашем кабинете'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>

    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
    update: {
      default: function () {},
    },
  },
}
</script>


