<template>
  <div class="menu_card_header">
    <div class="container">
      <ul class="menu_card_header_navigation">
        <li>
          <div class="menu_card_header_navigation_title">
            <n-link class="link-navigation" :to="`/account`">
              <span class="icon-back"></span>
            </n-link>
            <!-- <div>
              <h2>{{ item.brand }}</h2>
              <h1>{{ item.name | maxChar(14) }}</h1>
            </div> -->
          </div>
        </li>
        <li>
          <n-link
            class="link-navigation"
            :to="`/account/menu/analytic/${item.id}`"
          >
            <span class="icon-download"></span>
          </n-link>
        </li>
        <li>
          <button class="link-navigation" @click="qrcode = true">
            <span class="icon-qr-code"></span>
          </button>
        </li>
        <li>

          <ul class="questions"  >
      <li>
     <button @click="$emit('input', true)" class="button button-save">
            Стили меню
          </button>

      </li>

      <li>
       <span v-tooltip="'Нажмите на стили меню, чтобы отредактировать меню выбрать другой шрифт или цвет фона'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>

        
        </li>
      </ul>
    </div>
    <modal v-if="qrcode" @close="qrcode = false">
      <vue-qr
        :text="`http://ezzy.uz/client/menu/${item.id}`"
 
        :colorDark="item.style.qrcode_color"
        colorLight="#fff"
        :size="400"
        :correctLevel="3"
        :logoSrc="item.logo"
        :callback="init"
        :dotScale="1"
      ></vue-qr>
      <button @click="download" class="button button-add">Скачать</button>
    </modal>
  </div>
</template>
<script>

      // :logoScale="0.2"
      //   :logoCornerRadius="30"
      //   :logoSrc="item.logo"
import VueQr from 'vue-qr'
export default {
  methods: {
    init(dataUrl) {
      this.qrcodeUrl = dataUrl
    },
    download() {
      var a = document.createElement('a') //Create <a>
      a.href = this.qrcodeUrl //Image Base64 Goes here
      a.download = 'qr-code.png' //File name Here
      a.click() //Downloaded file
    },
  },
  data: () => ({
    qrcode: false,
    qrcodeUrl: false,
  }),
  components: {
    VueQr,
  },
  props: {
    item: {
      default: function () {
        return null
      },
    },
    update: {
      default: function () {},
    },
  },
}
</script>
