<template>
  <div class="menu_card">

    <menu-font :item="item" />
    <menu-card-header :item="item" v-model="openSettings" />
    <menu-card-content :lang="lang" @position="position" :item="item" :update="set" />
    <side-menu v-show="openSettings === true" @close="openSettings = false">
      <menu-card-settings
        v-if="navigation === 'settings'"
        :item="item"
        :update="set"
      />
    </side-menu>
  </div>
</template>
<script>
import { set } from '~/_api/apiMenuControl'
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
    lang: {
      default: function () {
        return null
      },
    },
  },
  data: () => ({
    openSettings: false,
    navigation: 'settings',
    navigations: [
      {
        title: 'Настройки меню',
        key: 'settings',
      },
      {
        title: 'Продукция',
        key: 'products',
      },
    ],
  }),
  methods: {
    set: set,
    position(val) {
      // this.item.categories = val;
      this.$emit('position', val)
    },
  },
}
</script>
