<template>
  <div>
    
    <input-group>
      <label for="">Цвет заголовка</label>
      <input v-model="item.style.heading_color" type="color" @input="init" />
    </input-group>
    <input-group>
      <label for="">Цвет текст</label>
      <input v-model="item.style.text_color" type="color" @input="init" />
    </input-group>
    <input-group>
      <label for="">Цвет фона</label>
      <input v-model="item.style.background_color" type="color" @input="init" />
    </input-group>
    <input-group>
      <label for="">Цвет QRCODE</label>
      <input v-model="item.style.qrcode_color" type="color" @input="init" />
    </input-group>
    <input-group>
      <label>Выравнивание текста</label>
      <select v-model="item.style.text_alignment" @input="init">
        <option value="left">По левому краю</option>
        <option value="center">По центру</option>
        <option value="right">По правому краю</option>
      </select>
    </input-group>
    <input-group>
      <label>Шрифт заголовка</label>
      <select v-model="item.style.heading_font" @input="init">
        <option value="">Выберите шрифт</option>
        <option v-for="(font, key) in fonts" :key="key" :value="font.name">
          {{ font.name }}
        </option>
      </select>
    </input-group>
    <input-group>
      <label>Шрифт основного текста</label>
      <select v-model="item.style.text_font" @input="init">
        <option value="">Выберите шрифт</option>
        <option v-for="(font, key) in fonts" :key="key" :value="font.name">
          {{ font.name }}
        </option>
      </select>
    </input-group>


  </div>
</template>
<script>
// import VueQr from 'vue-qr'
import { mapState } from 'vuex'
export default {
  data: () => ({
    timeOut: null,
  }),
  methods: {
    init() {
      clearTimeout(this.timeOut)
      this.timeOut = setTimeout(() => {
        this.update('update', this.item, 'put')
      }, 1000)
    },
  },

  props: {
    item: {
      default: function () {
        return {}
      },
    },
    update: {
      default: function () {},
    },
  },
  computed: {
    ...mapState(['localizations', 'fonts']),
  },
}
</script>


