<template>
  <div>
    <style v-if="item.style">
      @import 'https://fonts.googleapis.com/css2?family={{item.style.heading_font}}';
      @import 'https://fonts.googleapis.com/css2?family={{item.style.text_font}}';
    </style>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
  },
}
</script>
