<template>

 <div  class="business-item menu">
    
        <div  v-if="item" class="business-item-analytic">
              <div class="analytic">
                    <button @click="getItem" class="button button-create">Обновить</button>
                    <a target="_blank" class="button" :href="`/client/menu/${menu_id}`">Открыть меню</a>
                    <analytic-info :item="item" />
                    <analytic-list :item="item" />
              </div>
        </div>
 </div>
</template>
<script>
import apiBusiness from '~/_api/apiBusiness';

export default {
  data: () => ({
      item:null
  }),
  props:{
    menu_id: {
      default:function(){
        return null;
      }
    },
    value: {
      default:function(){
        return null;
      }
    }
  },
  watch:{
    menu_id(val){
        if(val){
        this.getItem();
        }
    },
  
  },
  methods: {
    async getItem(){
       this.item = await apiBusiness(this.$axios,{
          id:this.menu_id
        },'card/menu',null);
    }
  },

}
</script>
