<template>

    <div class="business-item">
        <ul class="business-item-list">
            <template v-for="item in items.data">
                <li :class="item.id==value ? 'active' : ''" :key="item.id" @click="$emit('input',item.id)">
                       <div class="menus">
                          <div class="menus-logo"><img :src="item.logo"/></div>
                          <div class="menus-title">
                                   <span class="name">{{item.name}}</span>
                                   <span class="owner">{{item.business.name}}</span>
                                   <span class="phone">{{item.business.phone}}</span>
                                   <span class="views_today">{{item.views_today}}</span>
                          </div>
                       </div>
                </li>
            </template>
        </ul>
    </div>

</template>
<script>
export default {
  data: () => ({
 
  }),
  props:{
    items: {
      default:function(){
        return {data:[]};
      }
    },
    value: {
      default:function(){
        return null;
      }
    }
  }
}
</script>
