<template>
<div class="">
  <div class="business">
        <business-list :items="items" v-model="menu_id"/>
        <business-menu  :menu_id="menu_id"/>
 </div>
 </div>
</template>
<script>
export default {

  data: () => ({

    menu_id: null,
  }),
  props:{
    items: {
      default:function(){
        return {
          data:[]
        };
      }
    }
  }
}
</script>
