<template>

 <ul  class="stat">
      <li v-for="statistic in stat.data">
            <span>{{statistic.title}}: </span> <span>{{statistic.value}}</span> 
      </li>
    
   
 </ul>
</template>
<script>


export default {
  data: () => ({
      item:null
  }),
  props:{
    stat: {
      default:function(){
        return null;
      }
    },
  },

 

}
</script>
