<template>
  <div class="page">
    <div class="container">
      <div class="analytic">
        <analytic-navigation />
        
        <analytic-info :item="item" />
        <analytic-list :item="item" />
      </div>
    </div>
  </div>
</template>
<script>
import apiMenuAnalytic from '~/_api/apiMenuAnalytic'
export default {
  middleware: 'account',
  // layout: 'menu',
  async asyncData({ params, $axios, redirect }) {
    let item = await apiMenuAnalytic($axios, params)
    if (!item) {
      redirect('/account')
    }
    return {
      item,
    }
  },
}
</script>