.analytic {
   & &-navigation {
      @include ul-horizontal;
      align-items: center;
      margin-bottom: 20px;
      &-back {
         font-size: 30px;
         margin-bottom: 20px;
         height: 20px;
         margin: 0;
      }
      & h1 {
         margin: 0;
      }
   }
   & &-info {
      @include ul-horizontal;
      max-width: 100%;
      overflow-y: scroll;
      & > li {
         border: 1px solid $silverColor;
         padding: 15px;
         width: 25%;
         min-width: 240px;
         & h1 {
            font-weight: 100;
         }
         & > .heading-info {
            display: flex;
            align-items: center;
            & > h4 {
               margin: 0 10px 0 0;
            }
         }
      }
   }

   & &-list {
      width: 100%;
      margin-bottom: 20px;
      border: 1px solid #dddddd;
      border-collapse: collapse;

      & th {
         font-weight: bold;
         padding: 5px;
         background: #efefef;
         border: 1px solid #dddddd;
      }
      & td {
         border: 1px solid #dddddd;
         padding: 5px;
      }
   }
}
