.business {
   // border:1px solid $silverColor;
   padding: 5px 0 0;
   margin: 0;
   overflow: hidden;
   display: flex;
   overflow-x: scroll;
   &-item{

      position: relative;
      max-width: 100%;
      height: calc(100vh - 75px - 50px);
      overflow-y: scroll;
      overflow-x: hidden;
      border-right: 1px solid $silverColor;
      min-width: 300px;
      width: auto;
      &.menu {
         width: calc(100% - 300px);
         min-width: 600px;
      }
      &-list {
         overflow: hidden;
         @include ul;
         width: 100%;
         position: absolute;
        
         & > li {
            & > .menus {
               display: flex;
        
               & > .menus-logo {
                  border:1px solid $silverColor;
                  border-radius: $borderRadiusSmall;
                  width: 40px;
                  height: 40px;
                  margin-right: 15px;
                  & >  img {
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     margin-right: 15px;
                  }
               }
               & > .menus-title {
                  width: calc(100% - 55px);
                  font-size: 14px;
                  position: relative;
                  padding-right: 30px;
                  & > span {
                     display: block;
                     &.name {
                        font-size: 14px;
                        color: $blackColor;
                        margin-bottom: 5px;
                     }
                     &.phone {
                        font-size: 12px;
                        color:$grayColor;
                        margin: 0;
                     }
                     &.owner {
                        font-size: 12px;
                        color:$grayColor;
                        opacity: .8;
                        margin: 0;
                     }
                     &.views_today {
                        position: absolute;
                        right: 0;
                        top:0;
                        color: $linkColor;
                        font-size: 12px;
                     }
                  }
               }
             
            }
            overflow: hidden;
            border-bottom: 1px solid $silverColor;
            min-height: 55px;
            padding: 10px 20px;
            & > h6 {
               font-size: 14px;
               font-weight: bold;
               margin: 0 0 4px 0;
            }
            & > p {
               font-size: 12px;
               font-weight: 200;
               margin: 0;
            }
            cursor: pointer;
            background-color: $whiteColor;
            color:$blackColor;

            &:hover, &.active {
                  background-color: $silverColor;

            }
         }
      }
      &-analytic {
         padding: 20px;
         position: absolute;
         width: 100%;
         height: 100%;
      }
   }
  
}
