.categories {
   position: relative;
   &-reject {
      position: absolute;
      right: 10px;
      top:10px;
      background: $redColor;
      color:$whiteColor;
      padding: 6px 10px;
      border-radius: $borderRadiusMedium;
      font-size: 12px;

   }
   &-show {
     
      display: block;
      padding: 15px 15px;
      border-radius: $borderRadiusLarge;
      border: 1px solid $blackColor;
      color:$whiteColor;
      background: $blackColor;
   }

   &.card {
      border-radius: 0 0 $borderRadiusSmall $borderRadiusSmall;
   }
   &-item {
      display: flex;
      align-items: center;
      & > ul.list-item {
         &:first-child {
            @include line;
         }
      }
   }
   & ul.list-item {
      @include ul;
      display: flex;
      flex-wrap: wrap;
      & > li {
         
         background: $whiteColor;
         border: 1px solid $silverColor;
         border-radius: $borderRadiusSmall;
         // &:last-child {
         //    border-bottom: none;
         // }
         // margin-top: -1px;
         display: flex;
         margin-bottom: 10px;
         margin-right: 10px;
         align-items: center;
         padding:  3px 10px 0 10px;
         &:hover{
            @include shadow(18px);
         }
         & > a {
       
            display: block;
   
            width: calc(100% - 0);
            font-size: 16px;
            color: $blackColor;
            min-height: 100%;
            padding: 7px 0 7px 0;
            display: flex;
            color: $blackColor;
            font-weight: bold;
            align-items: center;
            word-break: break-all;
            word-wrap: break-word;
            &.nuxt-link-exact-active{
               color: $linkColor;
               font-weight: bold;
            }
         }
         &.active {
            & > a {
               color: $linkColor;
            }
         }
         & > div {
            display: flex;
            width: 50px;
            & > button {
               display: block;
               min-width: 25px;
               max-width: 30px;
               width: 30px;
               height: 25px;
               margin-left: auto;
               font-size: 14px;
               padding: 0;
               text-align: right;
            }
         }
      }
   }
}
