.dropdown {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none;
   border: 1px solid $silverColor;
   min-width: 190px;
   outline: none;
   &.border_disable {
      border: none;
      min-width: auto;
   }
   &.open {
      border: none;
   }

   &-icon {
      font-size: 20px;
      color: $grayColor;
   }

   cursor: pointer;
   border-radius: $borderRadiusLarge;
   height: 50px;
   overflow: visible;
   position: relative;

   padding: 12px 20px;
   width: auto;
   max-width: 100%;
   display: flex;
   align-items: center;
   & .title {
      @include line;
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      & > span {
         &:first-child {
            display: inline-block;
            margin-right: 10px;
         }
         &:last-child {
            font-size: 12px;
            transform: rotate(-90deg);
            margin-left: auto;
         }
      }
   }
   & > &-content {
      min-width: 190px;
      z-index: $hightZindex;
      padding: 10px 20px 15px;
      width: 100%;

      & .title {
         margin-bottom: 15px;
         margin-top: 5px;
         & > span:last-child {
            transform: rotate(90deg);
         }
      }
      @include shadow(17px);
      position: absolute;
      border-radius: $borderRadiusMedium;
      top: 0;
      left: 0;
      right: 0;
      &.to_right {
         right: auto;
      }
      &.to_left {
         left: auto;
      }
      background: $whiteColor;
      & > ul {
         border-top: 1px solid $silverColor;
         &.border_disable {
            border: none;
         }
         @include ul;
         & > li {
            margin: 10px 0 10px;
            & > a,
            button {
               display: inline-block;
               width: 100%;
               height: 100%;
            }
         }

         &:last-child {
            & > li {
               &:last-child {
                  margin-bottom: 0;
               }
            }
         }
      }
   }

   &.border_disable {
      & > .dropdown-content {
         & > ul {
            margin-top: 0;
            border: none;
         }
      }
   }

   & > &-overlay {
      @include overlay;
   }
}
