.img_upload {
   position: relative;
   overflow: hidden;
   max-width: 100%;
   max-height: 100%;
   border: 1px solid $silverColor;
   border-radius: $borderRadiusSmall;
   & &-image {
      & > input {
         position: absolute;
         height: 100%;
         width: 100%;
         opacity: 0;
         z-index: 2;
      }
      & > img {
         z-index: 0;
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         object-fit: cover;
         width: 100%;
         height: 100%;
         &.contain {
            object-fit: contain;
         }
      }
      & > span {
         z-index: 1;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         right: 5px;
         height: 30px;
         width: 30px;
         opacity: 0.95;
         bottom: 5px;
         background: $whiteColor;
         border-radius: $borderRadiusSmall;
         text-align: center;
         @include shadow(17px);
      }

      &:hover {
         & > span {
            background: $blackColor;
            color: $whiteColor;
            box-shadow: none;
         }
      }
   }
}
