.languages {
   display: flex;
   align-items: center;
  & > ul {
   @include ul-horizontal;
   max-width: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
 
   border-radius: 10px 10px 0 0;
   & > li {
      margin-right: 0;
      & > a {
         border-bottom: 0.1px solid $lightColor;
         display: flex;
         align-items: center;
         justify-content: center;
         border-right: 1px solid $silverColor;
         background: $whiteColor;
         padding: 15px 25px;
         cursor: pointer;
         @include line;
         display: block;
         width: 100%;
         height: 100%;
         opacity: 0.6;
         color:$grayColor;

         &.nuxt-link-exact-active {
            opacity: 1;
            color:$blackColor;
         }
      }
      &:last-child {
         & > a {
            border-radius: 0 $borderRadiusSmall 0 0;
            border-right: none;
         }
      }
   }
  }
}
