.language {
 
   @include ul-horizontal;
   max-width: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
   border-bottom: 0.1px solid $lightColor;
   border-radius: 10px 10px 0 0;
   & > li {
      margin-right: 0;
      & > a {
        
         display: flex;
         align-items: center;
         justify-content: center;
         border-right: 1px solid $silverColor;
         background: $whiteColor;
         padding: 15px 25px;
         cursor: pointer;
         @include line;
         display: block;
         width: 100%;
         height: 100%;
         opacity: 0.6;
         color:$grayColor;

         &.nuxt-link-exact-active {
            opacity: 1;
            color:$blackColor;
         }
      }
   
   }

   &-preview {
      text-align: center;
      max-width: 480px;
      @include shadow(100px);
      @media (min-width: 480px) {
         margin: 40px auto;

         border-radius: $borderRadiusMedium;
      }

      border:none;
   
      @media (max-width: 480px) {
         min-height: 100vh;
      }
   
      padding: 40px 18px 30px 18px;

      & > h2 {
         font-size:20px;
         color:$grayColor;
         margin-bottom: 50px
      }
      & > ul {
         @include ul;
         & > li {
            margin-bottom: 20px;
            text-align: center;
            & > a {
               border-radius: $borderRadiusLarge;
               padding: 10px 15px;
               margin: auto;
               display: block;
               width: 100%;
               max-width: 220px;
               border:1px solid $silverColor;
               color:$blackColor;
            }
         }
      }
     
   }
  
}
