.menu_list {
   &-heading {
      margin-bottom: 20px
   }
   @include ul;
   & > li {
      min-height: 120px;
      border: 1px solid $silverColor;
      margin-bottom: 10px;
      border-radius: $borderRadiusSmall;

      padding: 13px 13px;
      display: flex;
      position: relative;
      align-items: center;
      overflow: visible;
      & > div {
         margin-right: 20px;
         &:last-child {
            margin-right: 0;
         }
      }
      & > .menu_list-logo {
         border-radius: $borderRadiusSmall;
         background: #fff;
         min-width: 110px;
         max-width: 110px;
         border: 1px solid $silverColor;
         height: 110px;
         position: relative;
         & > a > img {
  
   
            width: 90%;
            height: 90%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
      & > .menu_list-info {
         min-width: calc(100% - 110px - 20px - 10px - 60px);
         display: flex;
         align-items: center;
         justify-content: left;
         overflow: hidden;

         & > .menu_list-info-title {
            min-width: 200px;
            max-width: 200px;
            margin-right: 20px;
            & > h2 {
               margin: 0;
               font-weight: bold;
               font-size: 16px;
            }
            & > label {
               margin-top: 8px;
               display: block;
               color: $grayColor;
               font-size: 10px;
               line-height: 10px;
            }
         }

         & > .menu_list-info-analytic {
            min-width: 100px;
            width: calc(100% / 2 - 220px);
            text-align: center;
            & > a {
               color: $blackColor;
               font-size: 25px;

               display: block;
            }
            & > label {
               margin-top: 8px;
               display: block;
               color: $grayColor;
               font-size: 10px;
               line-height: 10px;
            }
         }
         & > .menu_list-info-analytic_detail {
            text-align: center;
            min-width: 100px;
            width: calc(100% / 2 - 220px);
            & > h4 {
               margin: 0;
               font-weight: bold;
               font-size: 25px;
               font-weight: 100;
            }
            & > label {
               margin-top: 8px;
               display: block;
               color: $grayColor;
               font-size: 10px;
               line-height: 10px;
            }
         }
         & > .menu_list-info-qrcode {
            text-align: center;
            min-width: 100px;
            width: calc(100% / 2 - 220px);
            & button {
               font-size: 25px;
            }
            & > label {
               margin-top: 8px;
               display: block;
               color: $grayColor;
               font-size: 10px;
               line-height: 10px;
            }
         }
      }

      & > .menu_list-detail {
         margin-left: auto;
         min-width: 60px;
      }
   }
}
