.menu_card {
  
   & &_header {
      background: $whiteColor;
      position: fixed;
      height: 75px;
      width: 100%;
      z-index: 99;
      left: 0;
      right: 0;
      top: 0;
      border-bottom: 1px solid $silverColor;
      & ul.menu_card_header_navigation {
         @include ul-horizontal;
         height: 75px;
         align-items: center;
         display: flex;
         & > li {
            &:last-child {
               margin-left: auto;
               margin-right: 0;
            }

            & .menu_card_header_navigation_title {
               display: flex;
               align-items: center;
               color: $blackColor;
               & span {
                  font-size: 25px;
                  margin-right: 30px;
                  color: $blackColor;
               }
               & h1 {
                  font-size: 27px;
                  line-height: 32px;
                  margin: 0;
                  font-weight: bold;
               }
               & h2 {
                  font-weight: 100;
                  text-transform: uppercase;
                  font-size: 12px;
                  line-height: 18px;
                  margin: 0 0 2px 0;
                  color: $grayColor;
               }
            }
         }
      }
   }
}
