.navigations {
   // border-bottom: 1px solid $silverColor;
   margin-bottom: 40px;
   & ul {
      // margin: 0;
      // padding: 0;
      @include ul-horizontal;
      overflow-x: scroll;
      & > li {
         margin: 0 30px 0 0;
         border-bottom: 4px solid transparent;
         font-size: 18px;
         cursor: pointer;
         font-weight: 700;
         color: $blackColor;
         padding: 0 0 10px 0;
         &.active {
            color: $linkColor;
            border-bottom: 4px solid $linkColor;
         }
      }
   }
}
