.nav_menu {
   & ul > li > a {
      @include line;
      color: $blackColor;
      &.nuxt-link-exact-active {
         color: $grayColor;
      }
   }
   &-pc {
      display: flex;
      @media (max-width: 1024px) {
         display: none;
      }
   }
   &-mobi {
      display: none;
      @media (max-width: 1023px) {
         display: flex;
      }
   }
}
