.production {
   max-width: 480px;

   @media (min-width: 480px) {
      margin: 40px auto;
      border: 1px solid $silverColor;
      border-radius: $borderRadiusMedium;
   }

   @media (max-width: 480px) {
      min-height: 100vh;
   }

   padding: 40px 18px 30px 18px;
   & ul {
      @include ul;
      & > li {
         position: relative;
      }
   }
   & &-header {
      text-align: center;
      & div {
         align-items: center;
         justify-content: center;
         display: flex;
         & > div {
            margin-bottom: 20px;
            &:first-child {
               text-align: center;
               width: 50%;
               display: flex;
               justify-content: center;
            }
            &:last-child {
               max-width: 50%;
               min-width: 50%;
               text-align: left;
               margin-left: 10px;
               display: flex;
               justify-content: left;
            }
            & h1 {
               font-size: 20px;
               line-height: 26px;
               margin: 0;
               word-break: break-all;
               word-wrap: break-word;
            }
            & img {
               width: 100px;

               object-fit: contain;
            }
         }
      }
   }

   & &-category {
      font-size: 25px;
      margin: 30px 0 15px 0;
      font-weight: bold;
      word-break: break-all;
      word-wrap: break-word;
   }

   & &-product {
  
      margin-bottom: 15px;
      margin-left: 20px;
      position: relative;
      overflow: hidden;
      &-title {
         // word-break: break-all;
         word-wrap: break-word;
         display: flex;
         &.center {
            display: block;
         }
         & > span {
            display: block;
            margin-bottom: 10px;
            &:first-child {
               font-size: 16px;
               font-weight: bold;
            }
            &:last-child {
               font-size: 16px;
               margin-left: auto;
               font-weight: 100;
               @include line;
            }
         }
      }
      &-image {
         // display: none;
         position: relative;
         height: 0;
         padding-top: 66.66666666666%;
         width: 100%;
         overflow: hidden;
         margin-bottom: 15px;
         border-radius: $borderRadiusSmall;
         // border: 1px solid $silverColor;
         & > img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
         }
      }

      &-description {
         white-space: pre;
         font-size: 14px;
         opacity: 0.8;
         font-weight: 100;
         // word-break: break-all;
         // word-wrap: break-word;
      }
   }

   &-control {
     
      z-index: $hightZindex;
      position: absolute;
      left: -12px;
      top: 0px;
    
      align-items: center;
      & > button {
         padding: 1px 0;
         @include shadow(12px);
         background: $linkColor;
         display: flex;
         align-items: center;
         font-size: 12px;
         height: 24px;
         width: 24px;
         line-height: 24px;
         color: $whiteColor;
         margin-bottom: 5px;
         display: block;
         border-radius: $borderRadiusSmall;
        
      }
   }

   &-empty {
      background: $lightColor;
      height: 50px;
      border-radius: $borderRadiusSmall;
      display: flex;
      color: $blackColor;
      align-items: center;
      justify-content: center;
      & > span {
         display: block;
      }
   }
   &-add {
      text-align: center;
      margin-top: 70px;
   }
}
