.socials {
   @include ul;
   & > li {
      margin-bottom: 15px;
      & > a {
         color: $blackColor;
         display: flex;
         align-items: center;
         font-size: 15px;
         & > span {
            &:first-child {
               margin-right: 10px;
               display: block;
               font-size: 16px;
            }
            &:last-child {
               display: block;
            }
         }
      }
   }
}
