.subscribe {
   max-width: 100%;
   & > p {
      padding: 0;
      margin: 0 0 15px;
      font-size: 12px;
      line-height: 19px;
      color: $grayColor;
   }
   & > div {
      height: 50px;
      display: block;
      background-color: $lightColor;
      overflow: hidden;
      display: flex;
      align-items: center;

      & > input {
         padding: 0 0 0 15px;
         display: block;
         height: 100%;
         border: none;
         width: 100%;
         outline: none;
         background: transparent;
      }

      & > button {
         font-size: 20px;
         display: block;
         height: 100%;
         min-width: 50px;
         height: 50px;
         margin-left: auto;
      }
   }
}
