.vt-notification-container {
   z-index: 9999999999999;
   .vt-theme-dark {
      background: #222 !important;
      min-width: 300px !important;
      max-width: 300px !important;
      justify-content: space-between !important;
      padding: 18px 20px !important;
      & .vt-content {
         max-width: calc(100% - 90px) !important;
      }
      & .vt-title {
         font-weight: bold !important;
         margin-bottom: 12px;
         font-size: 20px !important;
      }
      & .vt-paragraph {
         font-size: 16px !important;
      }
      & .vt-buttons {
         margin: 15px -3px 0 !important;
      }
      & .vt-icon {
         line-height: 10px !important;
      }
      & .vt-icon-container {
         margin: 0 !important;
      }
   }
}
