<template>
  <div>

    <field :items="items" v-model="params" />
    
    <button @click="apiCode(params, isRestore)" class="button button-access">
      Продолжить
    </button>

    

  </div>
</template>
<script>
import { apiCode } from '~/_api/apiClientAuth'
export default {
  props:{
    isRestore:false
  },
  data: () => ({
    params: {},
    items:  {
      phone: {
              prefix:'+998',
        key: 'phone',
        el: 'input',
        placeholder: 'Введите номер телефона',
        type: 'phone',
      }}
  }),
  computed: {},
  methods: {
    apiCode: apiCode
  },
}
</script>
