<template>
  <div>
    <field :items="items" v-model="params" />

    <button :disabled="!items.code['value']" @click="apiVerify(params)" class="button button-access">
      Подтвердить код
    </button>
    <button  @click="$emit('cancel',true)" class="button button-cancel mt-4">
      Это не мой номер
    </button>

  </div>
</template>
<script>
import { apiVerify } from '~/_api/apiClientAuth'
export default {
  props:{
      phone:{
        default:null
      }
  },
  data: () => ({
    params: {},
    items: {
      
      phone: {

        key: 'phone',
        el: 'input',
        placeholder: '',
        type: 'phone',
        readonly: true,
        value:null
      },
     code:  {
        key: 'code',
        el: 'input',
        placeholder: 'Введите код из СМС',
        type: 'number',
      },
    },
  }),
  // watch:{
  //   phone(val){
  //     this.items.phone.value = val;
  //   }
  // },
  created() {
      this.items.phone['value'] =this.phone;
  },
  computed: {},
  methods: {
    apiVerify: apiVerify
  },
}
</script>
