<template>
  <div @keyup.enter="apiLogin(params)">
    <h2>Войти в аккаунт</h2>
    <field :items="items" v-model="params" />
    <button @click="apiLogin(params)" class="button button-access"  >
      Войти в систему
    </button>
    <variants :variants="variants" @input="setVariant" />
  </div>
</template>
<script>
import { apiLogin } from '~/_api/apiClientAuth'
export default {
  data: () => ({
    params: {},
    variants: [
      {
        key: 'register',
        title: 'Регистрация',
      },
      {
        key: 'restore',
        title: 'Восстановление',
      },
    ],
    items: [
      {
        prefix:'+998',
        key: 'phone',
        el: 'input',
        placeholder: 'Введите телефон',
        type: 'phone',
      },
      {
        key: 'password',
        el: 'input',
        placeholder: 'Введите пароль',
        type: 'password',
      },
    ],
  }),
  computed: {},
  methods: {
    apiLogin: apiLogin,
    setVariant(val) {
      this.$emit('input', val)
    },
  },
}
</script>
