<template>
  <div>
    <h2>Восстановление пароля</h2>

    <div  v-if="!code && !phone" >
          <auth-code v-model="phone" :isRestore="true" />
          <variants :variants="variants" @input="setVariant" />
    </div>

    <auth-verify v-else-if="phone && !code" v-model="code" :phone="phone" @cancel="cancel" @input="setKey"/>

   <div v-else>
        <field :items="items" v-model="params" />
        <button @click="apiRestore(params)" class="button button-access">
          Сменить пароль
        </button>
    </div>

  </div>
</template>
<script>
import { apiRestore } from '~/_api/apiClientAuth'
export default {
  data: () => ({
    code:null,
    phone:null,
    params: {},
   variants: [
      {
        key: 'login',
        title: 'Я вспомнил пароль',
      },
      {
        key: 'register',
        title: 'Регистрация',
      },
    ],
    items: {
      phone: {
     
        key: 'phone',
        readonly: true,
        el: 'input',
        placeholder: 'Введите номер',
        type: 'phone',
      },
     
    password:  {
        key: 'password',
        el: 'input',
        placeholder: 'Введите пароль',
        type: 'password',
      },
    password_confirmation:  {
        key: 'password_confirmation',
        el: 'input',
        placeholder: 'Повторите пароль',
        type: 'password',
   },
   key:   {
        key: 'key',
        el: 'input',
        placeholder: '',
        type: 'hidden',
        value:null
      },
      }
    ,
  }),
  computed: {},
  methods: {
    apiRestore: apiRestore,
    setVariant(val) {
      this.$emit('input', val)
    },
    cancel(){
      this.phone=null;
      this.code=null;
    },
    setKey(){
        this.items.key['value'] = this.code;
        this.items.phone['value'] = this.phone;
    }
  },
}
</script>

