<template>
  <div class="variants">
    <ul class="vertical_links">
      <li v-for="v in variants" :key="v.key">
        <button class="link" @click="$emit('input', v.key)">
          {{ v.title }}
        </button>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    variants: {
      default: function () {
        return []
      },
    },
  },
}
</script>
