<template>
  <div
    @click="isOpen = !isOpen"
    :style="paddingRemove === true ? { padding: 0, height: 'auto', maxWidth:maxWidth } : {maxWidth:maxWidth}"
    :class="`dropdown ${isOpen ? 'open' : ''} ${
      borderDisable === true ? `border_disable` : ``
    }`"
  >
    <span
      :style="sizeIcon ? { fontSize: `${sizeIcon}px` } : {}"
      class="dropdown-icon"
      :class="`icon-${icon}`"
    ></span>

    <div v-if="title" class="title">
      <span>{{ title }} </span> <span class="icon-back-2"></span>
    </div>
    <div
      v-if="isOpen === true"
      :class="`dropdown-content ${alignTo ? alignTo : ''}`"
    >
      <div v-if="title" class="title">
        <span>{{ title }} </span> <span class="icon-back-2"></span>
      </div>
      <slot></slot>
    </div>
    <div v-if="isOpen === true" class="dropdown-overlay"></div>
  </div>
</template>
<script>
export default {
  data: () => ({
    isOpen: false,
  }),
  props: {
    title: {
      default: null,
    },
    maxWidth: {
      default: 'auto',
    },
    paddingRemove: {
      default: null,
    },
    sizeIcon: {
      default: null,
    },
    icon: {
      default: null,
    },
    alignTo: {
      default: null,
    },
    borderDisable: {
      default: false,
    },
  },
}
</script>
