<template>
  <div class="field">
    <div class="row">
      <template v-for="item in items">
        <div :class="`${item.col ? item.col : 'col-12'}`" :key="item.key">
          <label v-if="item.label">{{ item.label }}</label>
          <div class="input-prefix"  v-if="item.el === 'input'"> 
          <div v-if="item.prefix" class="prefix">{{item.prefix}}</div>
          <input
            :class="`input ${item.prefix ? 'prefix' : ''} `"
            v-model="item['value']"
            :placeholder="item.placeholder"
            :readonly="item.readonly === true"
            :type="item.type"
            @input="input"
            :name="item.key"
            maxlength="50"
            autocomplete="false"
          />
          </div>
          <div v-if="item.el === 'img'">
            <img-upload
              :width="item.width"
              :height="item.height"
              :name="item.key"
              @input="input"
              v-model="item['value']"
            />
            <br />
          </div>

          <textarea
            v-if="item.el === 'textarea'"
            class="input textarea"
            :name="item.key"
            v-model="item['value']"
            cols="30"
                @input="input"
            :placeholder="item.placeholder"
          ></textarea>
        </div>
      </template>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      default: function () {
        return []
      },
    },
  },
  methods: {
    input() {
      let value = {}
      if (Array.isArray(this.items)) {
        for (let i = 0; i < this.items.length; i++) {
          value[this.items[i].key] = ( (this.items[i].prefix) ? this.items[i].prefix : '') + this.items[i].value
        }
      } else{
         for (var prop in this.items) {
            if (!this.items.hasOwnProperty(prop)) continue;
            value[this.items[prop].key] =  ( (this.items[prop].prefix) ? this.items[prop].prefix : '') + this.items[prop].value
        }
      }
      this.$emit('input', value)
    },
  },
}
</script>
