<template>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <footer-logo />
        </div>
        <div class="col-12 col-md-4 col-lg-3">
          <footer-subscribe />
        </div>
        <div class="col-12 col-md-4 col-lg-2 offset-lg-3">
          <footer-social />
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {}
</script>
