<template>
  <header>
    <div class="container">
      <ul class="navigation">
        <li>
          <logo />
        </li>
        <li class="navigation-links">
          <horizontal-links :links="links" />
        </li>
        <li>
          <enter-account />
        </li>
      </ul>
    </div>
  </header>
</template>
<script>
export default {
  data: () => ({
    links: [
      {
        path: '/#benefit',
        title: 'Преимущества',
      },
      {
        path: '/#how_does_it_work',
        title: 'Как работает?',
      },
    ],
  }),
}
</script>
