<template>
  <div
    class="img_upload"
    :style="{
      width: width,
      height: height,
      minWidth: width,
      minHeight: height,
    }"
  >
    <label
      >{{ title }}
      <span v-show="tempUpload" @click="clear"> - Отмена</span></label
    >
    <div class="img_upload-image">
      <img :src="value ? value : noImage" :class="value ? 'cover' : 'contain'" :alt="title" />
      <input
        ref="fileupload"
        accept="image/*"
        type="file"
        @change="handleFileUpload"
      />
      <span> <span class="icon-pencil-2"></span></span>
    </div>
  </div>
</template>
<script>
export default {
  data: () => ({
    tempUpload: false,
    oldData: null,
    noImage: 'http://api.ezzy.uz/img/empty.png',
  }),
  props: {
    value: {
      default: null,
    },
    title: {
      default: '',
    },
    maxWidth: {
      default: 640,
    },
    isIcon: {
      default: false,
    },
    width: {
      default: '100%',
    },
    height: {
      default: '100%',
    },
  },
  created() {
    this.oldData = this.value
  },
  methods: {
    clear() {
      this.tempUpload = false
      this.$refs.fileupload.value = null
      this.$emit('input', this.oldData)
    },
    async handleFileUpload(event) {
      if (event.target.files && event.target.files.length > 0) {
        const file = event.target.files[0]
        if (file.size > 51000000) {
          this.$notify({
            title: 'Ошибка',
            message: 'Файл более 50 мб. весит',
            icon: 'ti-save',
            horizontalAlign: 'right',
            verticalAlign: 'top',
            type: 'error',
          })
          return false
        }
        const reader = new FileReader()
        reader.readAsDataURL(file)
        await reader.addEventListener('load', () => {
          try {
            let MAX_WIDTH = this.maxWidth
            let img = document.createElement('img')
            img.src = reader.result
            img.onload = () => {
              let canvas = document.createElement('canvas')
              let width = img.width
              let height = img.height
              let newHeight = height
              let newWidth = width
              let ctx = canvas.getContext('2d')

              if (width > MAX_WIDTH) {
                newHeight = (MAX_WIDTH * height) / width
                newWidth = MAX_WIDTH
              }

              canvas.height = newHeight
              canvas.width = newWidth

              if (this.isIcon) {
                    canvas.height = 400
                    canvas.width = 400
              }

              ctx.drawImage(img, 0, 0, newWidth, newHeight)

              this.$emit('input', canvas.toDataURL('image/png'))
            }
          } catch (e) {
            this.$emit('input', reader.result)
          }
        })
      }
    },
  },
}
</script>
