<template>
  <div class="modal">
    <div :style="'width:' + width + 'px'">
      <div class="modal-header">
        <button @click="$emit('close', false)" class="nav_close">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <slot> </slot>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    width: {
      default: 450,
    },
  },
}
</script>