<template>
  <div class="navigations">
    <ul>
      <li
        :class="`${navigation.key===value ? 'active' : ''}`"
        v-for="navigation in navigations"
        :key="navigation.key"
        @click="$emit('input', navigation.key)"
      >
        {{ navigation.title }}
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      default: null,
    },
    navigations: {
      default: function () {
        return []
      },
    },
  },
}
</script>


