<template>
  <div class="side_menu">
    <div class="side_menu-header">
      <button @click="$emit('close', false)" class="nav_close">
        <span class="icon-close"></span>
      </button>
    </div>
    <div class="side_menu-body">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {}
</script>