<template>
  <ul class="socials">
    <li>
      <a href="https://facebook.com" target="_blank">
        <span class="icon-facebook-fill"></span>
        <span>Facebook</span>
      </a>
    </li>
    <li>
      <a href="https://instagram.com" target="_blank">
        <span class="icon-instagram-fill"></span>
        <span>Instagram</span>
      </a>
    </li>
    <li>
      <a href="https://web.telegram.org/" target="_blank">
        <span class="icon-telegram-fill"></span>
        <span>Telegram</span>
      </a>
    </li>
  </ul>
</template>
<script>
export default {}
</script>
