<template>
  <div class="subscribe">
    <p>{{ title }}</p>
    <div>
      <input
        v-model="data.email"
        placeholder="Введите Email"
        type="email"
        name="email"
        autocomplete="false"
      />
      <button @click="subscribe(data)">
        <span class="icon-email"></span>
      </button>
    </div>
  </div>
</template>
<script>
import { subscribe } from '~/_api/apiSubscribe'

export default {
  data: () => ({
    data: {
      email: '',
    },
    title: 'Подписывайтесь на новости нашего проекта и будьте в курсе.',
  }),
  methods: {
    subscribe: subscribe,
  },
}
</script>
