@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jv8vkw');
  src:  url('fonts/icomoon.eot?jv8vkw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jv8vkw') format('truetype'),
    url('fonts/icomoon.woff?jv8vkw') format('woff'),
    url('fonts/icomoon.svg?jv8vkw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-question:before {
  content: "\e918";
}
.icon-drag:before {
  content: "\e904";
}
.icon-1:before {
  content: "\e905";
}
.icon-2:before {
  content: "\e906";
}
.icon-3:before {
  content: "\e910";
}
.icon-4:before {
  content: "\e914";
}
.icon-5:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e901";
}
.icon-qr-code:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e913";
}
.icon-email:before {
  content: "\e915";
}
.icon-info:before {
  content: "\e917";
}
.icon-law:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e90a";
}
.icon-call:before {
  content: "\e93b";
}
.icon-back-2:before {
  content: "\e91b";
}
.icon-back:before {
  content: "\e91d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-pin:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90b";
}
.icon-settings:before {
  content: "\e912";
}
.icon-pencil-2:before {
  content: "\e900";
}
.icon-menu1:before {
  content: "\e908";
}
.icon-user1:before {
  content: "\e911";
}
.icon-facebook-fill:before {
  content: "\e919";
}
.icon-instagram-fill:before {
  content: "\e91a";
}
.icon-telegram-fill:before {
  content: "\e91e";
}
.icon-phone:before {
  content: "\e909";
}
