<template>
  <section class="section_start">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
          <div class="section_info">
            <div>
              <h1>{{ title }}</h1>
              <p>
                {{ description }}
              </p>
              <button @click="isStart = true" class="button button-add">
                Создать свое QR меню
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 offset-lg-1 my-auto">
          <div class="section_img">
            <img
              class="section_img_single"
              src="http://api.ezzy.uz/img/4-min.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <menu-create v-if="isStart === true && profile" @close="isStart = false" />
    <auth
      typeDefault="register"
      v-else-if="isStart === true && !profile"
      @close="isStart = false"
    />
  </section>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    isStart: false,
    title: 'QR меню за 10 минут',
    description:
      'Продукт в Бета режиме и предназначен для ознакомления.',
  }),
  computed: {
    ...mapState(['profile']),
  },
}
</script>
