<template>
  <section id="benefit" class="section_benefit">
    <div class="container">
      <h1>{{ title }}</h1>
      <div class="row">
        <div class="col-12 col-md-6" v-for="(item, key) in items" :key="key">
          <div class="section_benefit-list">
            <div>
              <span :class="`icon-${item.img}`"></span>
            </div>
            <div>
              {{ item.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    isStart: false,
    title: 'В чем польза QR меню?',
    items: [
      {
        title:
          'Бесконтактное меню не передается из рук в руки и не распространяет бактерии',
        img: '1',
      },
      {
        title:
          'Доступно по ссылке или коду на любом устройстве из любого места',
        img: '2',
      },
      {
        title:
          'В электронное меню правки вносятся в любое время за пару секунд',
        img: '3',
      },
      {
        title:
          'Бесплатная базовая версия',
        img: '4',
      },
      {
        title:
          'Экономия на печати',
        img: '5',
      }
    ],
  }),
}
</script>
