<template>
  <section id="how_does_it_work" class="section_how_work">
    <div class="container">
      <h1>{{ title }}</h1>
    </div>
    <div class="section_how_work-info">
      <div class="container">
        <div class="section_how_work-info_container">
          <ul>
            <li v-for="(l, k) in list" :key="k">
              <div>
                <img :src="l.img" alt="" />
                <div>
                  <span>{{ l.title }}</span>
                  <span class="icon-back"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="section_how_work-info_background"></div>
    </div>
  </section>
</template>
<script>
export default {
  data: () => ({
    title: 'Как это работает',
    list: [
      {
        title: 'Меню заполняется в удобном онлайн редакторе',
        img: 'http://api.ezzy.uz/img/4-min.png',
      },
      {
        title: 'На столах ресторана размещается QR-код',
        img: 'http://api.ezzy.uz/img/5-min.png',
      },
      {
        title: 'Гость сканирует QR-код своим смартфоном и видит меню ресторана',
        img: 'http://api.ezzy.uz/img/1-min.png',
      },
    ],
  }),
}
</script>
