<template>
  <section v-show="!profile" class="section_start section_join">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6 my-auto">
          <div class="section_info">
            <div>
              <h1>{{ title }}</h1>
              <p>
                {{ description }}
              </p>
              <button @click="isStart = true" class="button button-enter">
                Подключить
              </button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6  my-auto">
          <div class="section_img">
            <img
              class="section_img_multipe one"
              src="http://api.ezzy.uz/img/2-min.png"
              alt=""
            />
            <img
              class="section_img_multipe two"
              src="http://api.ezzy.uz/img/1-min.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <menu-create v-if="isStart === true && profile" @close="isStart = false" />
    <auth
      typeDefault="register"
      v-else-if="isStart === true && !profile"
      @close="isStart = false"
    />
  </section>
</template>
<script>
import { mapState } from 'vuex'
export default {
  data: () => ({
    isStart: false,
    title: 'Подключить элекнтронное меню по QR-коду',
    description:
      'Сразу после регистрации вы получите доступ к личному кабинету для управления вашим электронным меню по QR-коду',
  }),
  computed: {
    ...mapState(['profile']),
  },
}
</script>

