<template>
  <div>
    <ul class="horizontal_links" v-if="links.length">
      <li v-for="(link, key) in links" :key="key">
        <n-link :to="link.path">
          {{ link.title }}
        </n-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    links: {
      default: function () {
        return []
      },
    },
  },
}
</script>
