<template>
  <div class="page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-lg-4">
          <settings-profile :profile="profile" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import apiAccount from '~/_api/apiAccount'
export default {
  async asyncData({ $axios }) {
    return {
      profile: await apiAccount($axios),
    }
  },
  middleware: 'account',
}
</script>
