<template>
  <div class="page page-light">
 
    <menu-card :lang="lang" :item="item" @position="position"/>
  </div>
</template>
<script>
import apiMenu from '~/_api/apiMenu'
export default {

  data: () => ({}),
  middleware: 'account',
  layout: 'menu',
  watchQuery:['category_id','language'],
  watch:{
    lang(val){
     
    }
  },
  methods: {
    position(val){
      this.item.categories = val;
    }
  },
  async asyncData({ params, $axios, redirect, query, app }) {

    let lang = (query.language) ? query.language : null;

    if (lang){
           app.$cookiz.set('lang',lang, {
                maxAge: 60 * 60 * 24 * 365,
                path: "/",
            });
            $axios.setHeader('localization',lang);
    }

    let item = await apiMenu($axios, params, 'card');
   
    if (!item) {
      redirect('/account')
    }

    let falseLang = true;
    
    if (item.languages.length === 0){
       redirect('/account')
    }
    else if(!lang){
         redirect(`/account/menu/${item.id}?language=${item.languages[0].language}`);
    }
    else {
      for(let i=0;i<item.languages.length;i++){
        if (item.languages[i].language === lang) {
            falseLang = false;
        }
      }
    }

    if (falseLang===true){
       redirect('/account/')
    }


    return {
      item, lang
    }
  },


}
</script>