<template>
  <div>
    <h1>Настройки</h1>
    <field :items="items" v-model="params" />
    <button :disabled="Object.keys(params).length===0" @click="update(params)" class="button button-save">Обновить</button>
  </div>
</template>
<script>
import { update } from '~/_api/apiProfile'
export default {
  props: {
    profile: {
      default: function () {
        return {}
      },
    },
  },
  data: () => ({
    params: {},
    items: [
      {
        key: 'phone',
        el: 'input',
        readonly: true,
        placeholder: '',
        type: 'phone',
      },
      {
        key: 'email',
        el: 'input',
        readonly: false,
        placeholder: '',
        type: 'email',
      },
      {
        key: 'name',
        el: 'input',
        placeholder: 'Введите имя',
        type: 'text',
      },
      {
        key: 'password',
        el: 'input',
        placeholder: 'Введите пароль',
        type: 'password',
      },
      {
        key: 'password_confirmation',
        el: 'input',
        placeholder: 'Повторите пароль',
        type: 'password',
      },
    ],
  }),
  created() {
    for (let i = 0; i < this.items.length; i++) {
      this.items[i].value = this.profile[this.items[i].key]
    }
  },
  methods: {
    update: update,
  },
}
</script>
