<template>
  <div class="categories card">
    <div>
    
     
     
           <ul class="questions"  >
      <li>
        <h5> Текущий язык: {{localizations[lang]}}</h5>

      </li>

      <li>
       <span v-tooltip="'Нажмите чтобы выбрать дополнительный язык меню'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>
      <br/>
     <ul class="questions">
      <li>
          <button @click="isCreate = true" class="button button-create">
        + Добавить категорию
      </button>
      </li>

      <li>
       <span v-tooltip="'Нажмите добавить категорию, чтобы начать создавать меню'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>
     
  


        
      <button class="categories-reject" @click="rejectMenu(item.id, lang)"> <span class="icon-minus"/> Удалить [{{lang}}] </button>
      <modal @close="isCreate = false" v-if="isCreate === true">
        <h4>Новая категория</h4>
        <h6>Напишите название категории</h6>
        <field :items="items" v-model="params" />
        <button
          :disabled="!params.title || isDisable"
          @click="
            apiCategory(params, 'create', 'post', {
              menu_id: item.id,
            })
          "
          class="button button-access"
        >
          Добавить
        </button>
      </modal>
    </div>
    <br/>



          <ul class="questions"  >
      <li>
      
    <h6>Мои категории 
    </h6>


      </li>

      <li>
       <span v-tooltip="'Выберите категорию, чтобы начать ее редактировать'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>
       
    <div class="categories-item">

      <draggable
        v-model="data"
        v-if="data.length"
        :tag="'ul'"
        class="list-item"
        handle=".list"
        @change="setPosition"
      >
        <!-- <li>
        <n-link :to="`/account/menu/${item.id}`">
          <span>Все категории</span>
        </n-link>
      </li> -->
        <li
          v-for="(category, key) in data"
          :key="key"
          :class="`list ${
            selectedItem && selectedItem.id == category.id ? 'active' : ''
          }`"
        >
           <button>
              <span class="icon-drag"></span>
            </button>
          <n-link :to="{ query: { ...$route.query,category_id: category.id } }">
            <span> {{ category.title }}</span>
          </n-link>
          <div>
         
            <button @click="update(category, key)">
              <span class="icon-pencil-2"></span>
            </button>
            <button @click="setDelete(category, key)">
              <span class="icon-close"></span>
            </button>
          </div>
        </li>
      </draggable>

      <small v-else>Список категорий пуст</small>
     
    </div>

    <modal @close="itemCategory = null" v-if="itemCategory">
      <h4>Редактирование категории</h4>

      <input-group>
        <input
          class="input"
          type="text"
          placeholder="Название категории"
          v-model="itemCategory.title"
        />
      </input-group>
      <button
        @click="setUpdate"
        :disabled="!itemCategory.title || isDisable"
        class="button button-access"
      >
        Сохранить
      </button>
    </modal>
    <div>
      <br/>
          <ul class="questions"  v-if="selectedItem" >
      <li>
     <a class="categories-show" :href="`/account/menu/${item.id}${lang ? `?language=${lang}` : ''}`">
           Посмотреть
     </a>

      </li>

      <li>
       <span v-tooltip="'Нажмите на ПОСМОТРЕТЬ меню чтобы увидеть меню целиком'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>


    </div>
     
  </div>
</template>

<script>
import draggable from 'vuedraggable'
import { apiCategory } from '~/_api/apiProduct'
import { rejectMenu } from '~/_api/apiMenuControl'
import { mapState } from 'vuex'
export default {
  components: { draggable },
  computed: {
      ...mapState(['localizations']),
    selectedItem: {
      get() {
        let item = null
        if (this.$route.query.category_id) {
          for (let i = 0; i < this.data.length; i++) {
            if (this.data[i].id == this.$route.query.category_id) {
              item = this.data[i]
              break
            }
          }
        }
        this.$emit('input', item)
        return item
      },
    },
  },
  methods: {
    apiCategory: apiCategory,
    rejectMenu: rejectMenu,
    async setPosition(e) {
      if (e && e.moved) {
        await this.apiCategory(this.itemCategory, 'position', 'put', {
          newIndex: e.moved.newIndex,
          oldIndex: e.moved.oldIndex,
          element: e.moved.element.id,
          menu: e.moved.element.menu_id,
        }).finally(() => {
          this.$emit('position', this.data)
        })
      }
    },
    async update(item, key) {
      this.itemCategory = await { ...item }
      this.keyCategory = key
    },
    async setUpdate() {
      let data = await this.apiCategory(this.itemCategory, 'update', 'put', {
        menu_id: this.item.id,
      })
      if (data) {
        this.data[this.keyCategory].title = data.title
        this.itemCategory = null
      }
    },
    setDelete(item, key) {
      this.$vToastify
        .prompt({
          title: 'Удаление',
          body:
            'Если вы удалите категорию, товары находящийся в данной категории будут тоже удалены. Удалить?',
          answers: { Да: true, Отмена: false },
        })
        .then((value) => {
          if (value === true) {
            let data = this.apiCategory(item, 'delete', 'delete', {
              menu_id: this.item.id,
            })
            if (data) {
              let query = Object.assign({}, this.$route.query)
              if (query.category_id) {
                if (query.category_id == item.id) {
                  delete query.category_id
                  this.$router.replace({ query })
                  this.$emit('input', null)
                }
              }
              this.data.splice(key, 1)
            }
          }
        })
    },
    check(val, isCreate = false) {
      for (let i = 0; i < this.data.length; i++) {
        if (val == this.data[i].title) {
          if (isCreate === true) {
            this.$vToastify.error('Такая категория уже существует', 'Категория')
          }
          return true
        }
      }
      return false
    },
  },
  created() {
    this.data = this.item.categories
  },
  props: {
    item: {
      default: function () {
        return null
      },
    },
    lang: {
      default: function () {
        return null
      },
    },
  },
  data: () => ({
    itemCategory: null,
    keyCategory: null,
    isCreate: false,
    isUpdate: false,
    items: [
      {
        key: 'title',
        el: 'input',
        type: 'text',
        placeholder: 'Например: Первые блюда',
      },
    ],
    params: {},
    data: [],
    isDisable: false,
  }),
  watch: {
    lang(val){
        if (val){
            this.data = this.item.categories;
        }
    },
    params: {
      async handler(val) {
        if (val && val.title) {
          this.isDisable = this.check(val.title, true)
        }
      },
      deep: true,
      immediate: true,
    },
    itemCategory: {
      async handler(val) {
        if (val && val.title) {
          this.isDisable = this.check(val.title)
        }
      },
      deep: true,
      immediate: true,
    },
    isCreate(val) {
      if (val === false) {
        this.params = {}
        this.items = [
          {
            key: 'title',
            el: 'input',
            type: 'text',
            placeholder: 'Например: Первые блюда',
          },
        ]
      }
    },
  },
}
</script>