<template>

  <div class="languages">
   <ul class="">
        <li v-for="locale in locales" :key="locale.id">
            <n-link :class="`${lang===locale.language ? 'nuxt-link-exact-active' : ''}`"  :to="{ query: { ...$route.query,language: locale.language} }">   {{localizations[locale.language]}} </n-link>
        </li>

    </ul>


      

       <drop-down  icon="plus" alignTo="to_left" :borderDisable="true">
            <ul class="vertical_links">

              <li v-for="(locale,key) in localizations" :key="key">
                    <button class="button" :disabled="checkEists(key)" @click="beforeCreateLang(key)">
                        {{locale}}
                    </button>
              </li>
        
            </ul>
          </drop-down>




             <modal @close="newLang = null" v-if="newLang">
          <h4>
            С какого языка вы будете делать перевод?
          </h4>
    
      <ul class="vertical_links">
              <li v-for="(locale,key) in locales" :key="key">
                    <button class="button" :disabled="checkEists(key)" @click="createLang(locale.language, newLang)">
                         {{localizations[locale.language]}}
                    </button>
              </li>
              </ul>

        </modal>
  
  </div>

</template>

<script>

import {mapState} from 'vuex';
import {cloneMenu} from '@/_api/apiMenuControl';

export default {
  methods: {
    cloneMenu:cloneMenu,
    checkEists(lang){
        for(let i=0;i<this.locales.length;i++){
          if (this.locales[i].language === lang){
            return true;
          }
        }

        return false;
    },

    beforeCreateLang(lang){
      if (this.locales.length>1){
        this. newLang=lang;
      }
      else if(this.locales.length === 1){
        this.createLang(this.locales[0].language, lang);
      }
      else {
        alert('Системная ошибка. Обратитесь администратору сайта');
      }
    },

    createLang(fromLang, newLang){
      this.cloneMenu(this.item.id, fromLang, newLang);
    }
  },
  computed: {
      ...mapState(['localizations'])
  },
  created() {
    
  },
  props: {
    locales: {
      default: function () {
        return []
      },
    },
    item: {
      default: function () {
        return null
      },
    },
   
    lang: {
      default: function () {
        return null
      },
    },
  },
  data: () => ({
    newLang :null
  }),
  watch: {
    
  },
}
</script>