<template>
  <div class="products card">
    <div>
      <div>
        <modal @close="isCreate = false" v-if="isCreate === true && category">
          <h4>
                Добавьте название блюда, цену, фотографию, и описание
          </h4>
          <h6 v-if="category">  <span >{{ category.title }}</span></h6>
          <field :items="items" v-model="params" />
          <button
            :disabled="!params.title || isDisable"
            @click="
              apiProduct(params, 'create', 'post', {
                menu_id: item.id,
                category_id: category.id,
              })
            "
            class="button button-access"
          >
            Добавить
          </button>
        </modal>
      </div>
      <div>
        <div>
          <div
            :class="`production`"
            :style="{
              backgroundColor: item.style ?  item.style.background_color : '#fff',
              textAlign: item.style.text_alignment,
              color: item.style.text_color,
              fontFamily: item.style.text_font,
            }"
          >
            <div>
              <production-header v-if="!category" :item="item" />
            </div>

            <div v-if="category">
              <div>
                <h2 class="production-category">{{ category.title }}</h2>
           
                   <draggable
                            v-model="data"
                            v-if="data && data.length"
                            :tag="'ul'"
                            handle=".list"
                            @change="setPosition"
                          >
                  <li v-for="(product, key) in data" :key="key" class="list">
                    <div class="production-control">
                  
                      <button @click="update(product, key)">
                        <span class="icon-pencil-2"></span>
                      </button>
                      <button @click="setDelete(product, key)">
                        <span class="icon-close"></span>
                      </button>
                   
                    </div>
                    <production-product
                      :item="product"
                      :text_alignment="item.style.text_alignment"
                    />
                    <br/>
                    <br/>
                  </li>
                </draggable>
                <p v-else class="production-empty">
                  <span>Список блюд пуст ...</span>
                </p>

                <div class="production-add">

                    <ul class="questions">
      <li>
      <button
                    @click="isCreate = true"
                    :disabled="!category"
                    class="button button-create"
                  >
                    + Добавить блюдо
                  </button>
      </li>

      <li>
       <span v-tooltip="'Нажмите на добавить блюдо, чтобы оно появилось в категории'">
            <span class="icon-question"></span>
        </span>
      </li>
     </ul>

                
                </div>
              </div>
              <modal @close="itemProduct = null" v-if="itemProduct">
                <h4>Редактирование блюда</h4>
                <input-group>
                  <input
                    class="input"
                    type="text"
                    placeholder="Название блюда"
                    v-model="itemProduct.title"
                  />
                </input-group>
                <input-group>
                  <input
                    class="input"
                    type="text"
                    placeholder="Цена блюда"
                    v-model="itemProduct.price"
                  />
                </input-group>

                <img-upload
                  v-model="itemProduct.image"
                  height="160px"
                  width="100%"
                />

                <input-group> </input-group>
                <input-group>
                  <textarea
                    class="input textarea"
                    v-model="itemProduct.body"
                    placeholder="Описание"
                  ></textarea>
                </input-group>

                <button    :disabled="!itemProduct.title" @click="setUpdate" class="button button-access">
                  Сохранить
                </button>
              </modal>
            </div>

            <div v-else>
              <template v-for="(c, cKey) in item.categories">
                <div v-if="c && c.products && c.products.length" :key="cKey">
                  <h2 class="production-category">{{ c.title }}</h2>
                  <ul v-if="c.products.length">
                    <li v-for="(product, pKey) in c.products" :key="pKey">
                      <production-product
                        :isAdmin="true"
                        :item="product"
                        :text_alignment="item.style.text_alignment"
                      />
                    </li>
                  </ul>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { apiProduct } from '~/_api/apiProduct'

import draggable from 'vuedraggable';

export default {
  created() {
    this.loading = true
  },
  components: { draggable },
  methods: {
    apiProduct: apiProduct,
    async update(item, key) {
      this.itemProduct = await { ...item }
      this.keyProduct = key
    },
     async setPosition(e) {
      if (e && e.moved) {
        await this.apiProduct(this.itemProduct, 'position', 'put', {
          newIndex: e.moved.newIndex,
          oldIndex: e.moved.oldIndex,
          element: e.moved.element.id,
          menu: e.moved.element.category_id,
        })
      }
    },
    async setUpdate() {
      let data = await this.apiProduct(this.itemProduct, 'update', 'put', {
        menu_id: this.item.id,
      })
      if (data) {
        this.data[this.keyProduct].title = data.title ? data.title : '';
        this.data[this.keyProduct].price = data.price ? data.price : '';
        this.data[this.keyProduct].body = data.body ? data.body : '';
        this.data[this.keyProduct].image = data.image ? data.image : '';
        this.itemProduct = null
      }
    },
    setDelete(item, key) {
      this.$vToastify
        .prompt({
          title: 'Удаление',
          body: 'Вы уверены, что хотите удалить блюдо?',
          answers: { Да: true, Отмена: false },
        })
        .then((value) => {
          if (value === true) {
            let data = this.apiProduct(item, 'delete', 'delete', {
              menu_id: this.item.id,
              category_id: this.category.id,
            })
            if (data) {
              this.data.splice(key, 1)
            }
          }
        })
    },
       check(val, isCreate = false) {
      for (let i = 0; i < this.data.length; i++) {
        if (val == this.data[i].title) {
          if (isCreate === true) {
            this.$vToastify.error('Такое блюдо уже существует', 'Категория')
          }
          return true
        }
      }
      return false
    },
  },
  computed: {},
  props: {
    item: {
      default: function () {
        return null
      },
    },
    lang: {
      default: function () {
        return null
      },
    },
    category: {
      default: function () {
        return null
      },
    },
  },
  data: () => ({
    loading: true,
    isCreate: false,
    itemProduct: null,
    keyProduct: null,
    isDisable:false,
    items: [
      {
        key: 'title',
        label: 'Название блюда',
        el: 'input',
        type: 'text',
        placeholder: 'Например: Американо',
      },
      {
        key: 'price',
        label: 'Цена',
        el: 'input',
        type: 'text',
        placeholder: 'Например: 19 000 сум',
      },
      {
        key: 'image',
        label: 'Изображение',
        el: 'img',
        height: '160px',
        width: '100%',
        placeholder: 'Например: 19 000 сум',
      },
      {
        key: 'body',
        label: 'Описание вашего блюда',
        el: 'textarea',
        placeholder:
          'Например: Американо — это кофе эспрессо, дополнительно разбавленный водой...',
      },
    ],
    params: {},
    data: [],
  }),
  watch: {
       params: {
      async handler(val) {
        if (val && val.title) {
          this.isDisable = this.check(val.title, true)
        }
      },
      deep: true,
      immediate: true,
    },
    itemProduct: {
      async handler(val) {
        if (val && val.title) {
          this.isDisable = this.check(val.title)
        }
      },
      deep: true,
      immediate: true,
    },
    '$route.query.category_id': {
      async handler(val) {
        if (val) {
          this.loading = true
          this.data = await this.apiProduct({}, '', 'GET', {
            menu_id: this.item.id,
            category_id: val,
          })
        }
      },
      deep: true,
      immediate: true,
    },

    isCreate(val) {
      if (val === false) {
        this.items = [
          {
            key: 'title',
            label: 'Название блюда',
            el: 'input',
            type: 'text',
            placeholder: 'Например: Американо',
          },
          {
            key: 'price',
            label: 'Цена',
            el: 'input',
            type: 'text',
            placeholder: 'Например: 19 000 сум',
          },
          {
            key: 'image',
            label: 'Изображение',
            el: 'img',
            height: '160px',
            width: '100%',
            placeholder: 'Например: 19 000 сум',
          },
          {
            key: 'body',
            label: 'Описание вашего блюда',
            el: 'textarea',
            placeholder:
              'Например: Американо — это кофе эспрессо, дополнительно разбавленный водой...',
          },
        ]
        this.params = {}
      }
    },
   async  lang(val){
        if (val && this.category && this.category.id) {
          this.loading = true
          this.data = await this.apiProduct({}, '', 'GET', {
            menu_id: this.item.id,
            category_id: this.category.id,
          })
        }
    }
  },
}
</script>