<template>
  <div class="production-product">
    <template v-if="item">
   
      <div v-if="item.image" class="production-product-image">
        <img :src="item.image" alt="" />
      </div>

      <div
        :class="`production-product-title ${
          text_alignment && text_alignment === 'center' ? 'center' : ''
        }`"
      >
        <span>{{ item.title }}</span>
        <span>{{ item.price ?  item.price : '' }}</span>
      </div>
      <div v-html="item.body" class="production-product-description">
 
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
    text_alignment: {
      default: function () {
        return null
      },
    }
  },
}
</script>