<template>
  <div class="production-header">
    <div v-if="item">
      <div>
        <img :src="item.logo" :alt="item.name" />
      </div>
      <div>
        <h1
          :style="{
            color: item.style ? item.style.heading_color : '',
            fontFamily:  item.style ?  item.style.heading_font : '',
          }"
        >
          {{ item.name }}
        </h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
  },
}
</script>