<template>
  <div>
    <h4>Общая стастистика</h4>
    <ul class="analytic-info">
      <li>
        <div class="heading-info">
          <h4>Просмотров</h4>
          <drop-down
            icon="info"
            alignTo="to_right"
            :borderDisable="true"
            :paddingRemove="true"
            :sizeIcon="14"
          >
            <span class="icon-info"></span> Сколько раз просмотрели странцу меню
          </drop-down>
        </div>
        <h1>{{ item.data.view_count }}</h1>
      </li>
      <li>
        <div class="heading-info">
          <h4>Посетителей</h4>

          <drop-down
            icon="info"
            alignTo="to_right"
            :borderDisable="true"
            :paddingRemove="true"
            :sizeIcon="14"
          >
            <span class="icon-info"></span>  Количество уникальных посетителей
          </drop-down>
        </div>
        <h1>{{ item.data.session }}</h1>
      </li>
      <!-- <li>
        <div class="heading-info">
          <h4>Устройства (Моб/ПК)</h4>
        </div>
        <h1>
          {{ item.data.mobile_count }} /
          {{ item.data.session - item.data.mobile_count }}
        </h1>
      </li> -->
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
  },
}
</script>
