<template>
  <ul class="analytic-navigation">
    <li>
      <button class="analytic-navigation-back" @click="$router.go(-1)">
        <span class="icon-back"></span>
      </button>
    </li>
    <li>
      <h1>Статистика</h1>
    </li>
  </ul>
</template>