<template>
  <div>
    <div v-if="item && item.data && item.data.list">
      <h4>Статистика по дням</h4>
      <table class="analytic-list">
        <thead>
          <tr>
            <th scope="col">Дата</th>
            <th scope="col">Пользователей</th>
            <th scope="col">Просмотров</th>
            <!-- <th scope="col">Моб./ПК</th> -->
          </tr>
        </thead>
        <tbody>
          <tr v-for="(state,key) in item.data.list.data" :key="key">
            <td>{{state.date}}</td>
            <td>{{state.session}}</td>
            <td>{{state.view_count}}</td>
            <!-- <td>{{state.mobile_count}} / {{state.session - state.mobile_count}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    item: {
      default: function () {
        return null
      },
    },
  },
}
</script>
