<template>
  <div class="">  
      <stat :stat="stat"/>
      <business :items="items"/>
  </div>
</template>
<script>

import apiBusiness from '~/_api/apiBusiness';

export default {
    layout:'root',
    async asyncData({ params, $axios, redirect, query, app }) {
      let items = await apiBusiness($axios, params,'',redirect);
      let stat = await apiBusiness($axios, params,'stat',redirect);
      return {
        items,
        stat
      }
  },
}
</script>