<template>
  <modal @close="$emit('close', true)">
    <h2>Новое меню</h2>
    <h4>Введите название ресторана</h4>
    <field :items="items" v-model="params" />
    <button @click="set('create', params, 'post')" class="button button-add">
      Создать
    </button>
  </modal>
</template>
<script>
import { set } from '~/_api/apiMenuControl'
export default {
  data: () => ({
    items: [
      {
        key: 'name',
        el: 'input',
        placeholder: "Например: McDonald's",
        type: 'text',
      },
      // {
      //   key: 'brand',
      //   el: 'input',
      //   placeholder: 'Введите бренд меню',
      //   type: 'text',
      // },
    ],
    params: {},
  }),
  props: {},
  methods: {
    set: set,
  },
}
</script>
