<template>
  <div class="container">
    <div class="menu_list-heading">
      <h1>Мои QR меню</h1>
      <div>
        <button @click="isCreate = true" class="button button-create">
          + Добавить новое меню
        </button>
        <menu-create
          @close="isCreate = false"
          v-if="isCreate === true"
          :isCreate="isCreate"
        />
      </div>
    </div>
    <ul class="menu_list" v-if="menus && menus.data">
      <li v-for="menu in menus.data" :key="menu.id">
        
        <div class="menu_list-logo" :style="{backgroundColor: menu.style ? menu.style.background_color : '#fff'}">
          <n-link :to="`/account/menu/${menu.id}?language=${menu.languages.length? menu.languages[0].language : ''}`">
            <img :src="menu.logo" alt="" />
          </n-link>
        </div>
        <div class="menu_list-info">
          <div class="menu_list-info-title">
            <h2>{{ menu.name }}</h2>
            <label> {{ menu.brand }}</label>
          </div>
          <div class="menu_list-info-brand"></div>

          <div class="menu_list-info-analytic">
            <n-link :to="`/account/menu/analytic/${menu.id}`">
              <span class="icon-download"></span>
            </n-link>
            <label>Смотреть аналитику</label>
          </div>

          <div class="menu_list-info-qrcode">
            <button @click="qrcode = menu">
              <span class="icon-qr-code"></span>
            </button>
            <label>QR CODE</label>
          </div>

          <div class="menu_list-info-analytic_detail">
            <h4>{{ menu.views_today }}</h4>
            <label>Сегодня просмотров</label>
          </div>
        </div>
        <div class="menu_list-detail">
          <drop-down icon="menu" alignTo="to_left" :borderDisable="true">
            <ul class="vertical_links">
              <li>
                <n-link :to="`/account/menu/${menu.id}`">Редактировать</n-link>
              </li>
              <li>
                <n-link :to="`/account/menu/analytic/${menu.id}`"
                  >Аналитика</n-link
                >
              </li>
              <!-- <li>
                <button @click="set('clone', { id: menu.id }, 'post')">
                  Дублировать
                </button>
              </li> -->
              <li>
                <button @click="qrcode = menu">QR CODE</button>
              </li>
              <li>
                <button @click="deleteItem(menu)">Удалить</button>
              </li>
            </ul>
          </drop-down>
        </div>
      </li>
    </ul>
   
    <modal v-if="qrcode" @close="qrcode = null">
      <vue-qr
        :text="`http://ezzy.uz/client/menu/${qrcode.id}`"
 
        :colorDark="qrcode.style.qrcode_color"
        colorLight="#fff"
        :size="400"
        :correctLevel="3"
        :logoSrc="qrcode.logo"
        :callback="init"
      ></vue-qr>
           <button @click="download" class="button button-add">Скачать</button>
    </modal>
  </div>
</template>
<script>



import VueQr from 'vue-qr'
import { set, deleteItem } from '~/_api/apiMenuControl'
export default {

  components: {
    VueQr,
  },
  data: () => ({
    qrcode: null,
    isCreate: false,
  }),
  props: {
    menus: {
      default: function () {
        return null
      },
    },
  },
  methods: {
    set: set,
    deleteItem: deleteItem,
    init(dataUrl) {
      this.qrcodeUrl = dataUrl
    },
    download() {
      var a = document.createElement('a') //Create <a>
      a.href = this.qrcodeUrl //Image Base64 Goes here
      a.download = 'qr-code.png' //File name Here
      a.click() //Downloaded file
    },
  },
}
</script>
